<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:name=".ToxiHelpApplication"
        android:allowBackup="false"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/icon_toxihelp"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/icon_toxihelp_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ToxiHelp"
        tools:targetApi="31">
        <activity
            android:name=".Referencias"
            android:exported="false" />
        <activity
            android:name=".ElementoDetalhe"
            android:exported="false" />
        <activity
            android:name=".ElementoLista"
            android:exported="false" />
        <activity
            android:name=".Categorias"
            android:exported="false" />
        <activity
            android:name=".Creditos"
            android:exported="false" />
        <activity
            android:name=".Introducao"
            android:exported="false"
            android:label="@string/intro_geral_nome"
            android:theme="@style/Theme.ToxiHelp" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>